<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Source Control System</h1>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div>
                <strong>Users</strong>
            </div>
            <div>
                <span>{{vm.stats.Users}}</span>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div>
                <strong>Projects</strong>
            </div>
            <div>
                <span>{{vm.stats.Projects}}</span>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div>
                <strong>Commits</strong>
            </div>
            <div>
                <span>{{vm.stats.Commits}}</span>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Latest Projects</h3>
                </div>
                <div class="panel-body">
                    <div all-projects />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Latest Commits</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover text-center">
                        <thead>
                        <tr>
                            <th class="text-center">User</th>
                            <th class="text-center">Created On</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="commit in vm.commits">
                            <td>{{commit.UserName}}</td>
                            <td>{{commit.CreatedOn}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>