<div class="container" ng-show="vm.identity && vm.identity.isAuthenticated()">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title centered">Commit Details</h3>
                </div>
                <div class="panel-body centered">
                    <div>
                        <p>
                            <strong>Project name: </strong>{{vm.commit.ProjectName}}
                        </p>
                        <p>
                            <strong>Author: </strong>{{vm.commit.UserName}}
                        </p>
                        <p>
                            <strong>Source code:</strong>
                            <br>
                            {{vm.commit.SourceCode}}
                        </p>
                        <p>
                            <strong>Created on: </strong>{{vm.commit.CreatedOn | beautifulDate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="!vm.identity.isAuthenticated()">
    <h3 class="centered">Not Authorized!</h3>
</div>